<div class="modal fade" id="modalApoiadores" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title supporters">Apoiadores</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <img class="img0 rounded" src="/CSS/img/scott-webb-bmmcfZqSjBU-unsplash.jpg" alt="" width="80px" height="50px">
        <h6>Empresa 1</h6>
        <p class="description">descrição

          <img class="img2 rounded" src="/CSS/img/jurij-kenda-OcMKDx5y11A-unsplash.jpg" alt="" width="80px"
            height="50px">
        <h6>Empresa 2</h6>
        <p class="description">descrição

          <img class="img3 rounded" src="/CSS/img/marcel-strauss-kOzjvV0Wy8E-unsplash.jpg" alt="" width="80px"
            height="50px">
        <h6>Empresa 3</h6>
        <p class="description">descrição

          <img class="img4 rounded" src="/CSS/img/pawel-czerwinski-fpZZEV0uQwA-unsplash.jpg" alt="" width="80px"
            height="50px">
        <h6>Empresa 4</h6>
        <p class="description">descrição
        </p>
      </div>
    </div>
  </div>
</div>