<div class="modal fade" id="modalAgenda" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title schedule">Agenda</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <p>10/10/10 10:10 - Evento 1
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, dolore facilis velit nisi corrupti, non,
          temporibus nemo dolores veniam quod nulla.
        <p>10/10/10 10:10 - Evento 1
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, dolore facilis velit nisi corrupti, non,
          temporibus nemo dolores veniam quod nulla.
        <p>10/10/10 10:10 - Evento 1
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum, dolore facilis velit nisi corrupti, non,
          temporibus nemo dolores veniam quod nulla.
        </p>
      </div>
    </div>
  </div>
</div>